body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0f0f0f;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: rgb(12, 12, 12);
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.flash-messages {
    margin-top: 20px;
}

.flash-success {
    color: #28a745;
}

.flash-danger {
    color: #dc3545;
}
